#* @vtlvariable name="success" type="java.lang.Boolean" *#
#* @vtlvariable name="error" type="java.lang.String" *#

#if($success)
<div class="title rounded-box-small" style="background: #3ba800;">Your password has been updated!</div><br /><br />
#end

#if($error)
    <div class="title rounded-box-small" style="background: #ff2300; color: #fff;">$error</div><br /><br />
#end

<style>
    input[type='password'] {
        margin: 10px 0 10px 0;
        padding: 5px;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #ccc;
        color: #333;
    }
</style>

<form action="$config.siteUrl/account/password/submit" method="post"
      id="profileForm">

    Current password:<br/>
    <input type="password" name="currentPassword" size="32" maxlength="32" value="" placeholder="Current Password"
           id="password"><br/>
    New password:<br/>
    <input type="password" name="newPassword" size="32" maxlength="32" value="" placeholder="New Password"
           id="password"><br/>

    Confirm New Password:<br/>
    <input type="password" name="newPasswordConfirm" size="32" maxlength="32" value="" placeholder="Confirm New Password"
           id="password"><br/>

    <div class="settings-buttons">
        <a href="#" class="new-button" id="profileForm-submit"><b>Save
            changes</b><i></i></a>
        <noscript>&lt;input type="submit" value="Save changes" name="save"
            class="submit" /&gt;</noscript>
    </div>

</form>

<script type="text/javascript">
    $("profileForm-submit").observe("click", function (e) {
        e.stop();
        $("profileForm").submit();
    });
    $("profileForm-submit").show();
</script>
