#parse('/templates/admin/base/header.vm')
#set($page = 'dashboard')

<div class="container-fluid">
    <div class="row">

        #parse('/templates/admin/base/sidebar.vm')
        <div class="col-md-10" style="padding: 20px;">

            <h1 class="page-header">Dashboard</h1>

            <div class="row">
                <div class="card-group">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Server Statistics</h4>
                            <p class="card-text">                    Active Players: $serverStatistics.activePlayers<br/>
                                Active Rooms: $serverStatistics.activeRooms<br/>
                                Version: $serverStatistics.serverVersion<br/></p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Server Information</h4>
                            <p class="card-text">Comet Server & Comet Website are written in Java by the Comet Team. They are extremely exclusive.</p>
                            <a href="http://cometproject.nl" class="card-link">Comet Project</a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

#parse('/templates/admin/base/footer.vm')