#parse('/templates/base/header.vm')


<style type="text/css">
    .settings {
        padding-top: 10px;
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#edit-modal-$editingId').modal('show');
    });

</script>

<ol class="breadcrumb">
    <li><a href="/admin">Admin</a></li>
    <li class="active">Instances</li>
</ol>

<div class="row">

    #parse('/templates/admin/components/admin-sidebar.vm')

    <div class="col-md-10">

        <div style="text-align: right;padding-bottom: 10px;">
            <button class="btn btn-default btn-success">Create Instance</button>
        </div>

        #if($saved)
        <div class="alert alert-success" role="alert">Instance com.cometproject.networking.api.config saved successfully!</div>
        #end

        <!-- Table -->
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Actions</th>
            </tr>

            #foreach($instance in $instances)
            <tr>
                <td>$instance.name</td>
                <td>$instance.version</td>
                <td>
                    <a href="/instance/$instance.id" target="_blank" class="btn btn-default">View</a>
                    <a href="/admin/instances/edit/$instance.id" class="btn btn-primary">Edit</a>
                    <button class="btn btn-default btn-warning">Remove</button>

                    #if($editingId == $instance.id)
                    <!-- Modal -->
                    <div class="modal fade" id="edit-modal-$instance.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Edit Instance</h4>
                                </div>
                                <div class="modal-body">

                                    <form action="/admin/instances/save/$instance.id" method="post">
                                        <h4>Instance Configuration</h4>

                                        <div class="row settings">
                                            <div class="col-md-3">Name</div>
                                            <div class="col-md-9">
                                                <input type="text" name="instance-name" class="form-control"
                                                       value="$instance.name"/>
                                            </div>
                                        </div>

                                        <div class="row settings">
                                            <div class="col-md-3">Configuration Data</div>
                                            <div class="col-md-9">
                                                <textarea class="form-control" name="instance-com.cometproject.networking.api.config" rows="15" style="width: 100%;">$instance.configData</textarea>
                                            </div>
                                        </div>

                                        <div class="row settings">
                                            <div class="col-md-3">Host</div>
                                            <div class="col-md-9">
                                                <select class="form-control" name="instance-host">
                                                    #foreach($host in $hosts)
                                                        <option #if($instance.server == $host.hostName) selected #end>$host.hostName</option>
                                                    #end
                                                </select>
                                            </div>
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" value="Save changes" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                    #end

                </td>
            </tr>

            #end
        </table>

    </div>
</div>
#include('/templates/base/footer.vm')