#parse('/templates/base/header.vm')


<style type="text/css">
    .settings {
        padding-top: 10px;
    }




</style>

<script type="text/javascript">
    $(document).ready(function () {

    });




</script>

<ol class="breadcrumb">
    <li><a href="/home">Admin</a></li>
    <li class="active">Versions</li>
</ol>

<div class="row">

    #parse('/templates/admin/components/admin-sidebar.vm')

    <div class="col-md-10">

        <div style="text-align: right;padding-bottom: 10px;">
            <button class="btn btn-success" data-toggle="modal" data-target="#create-version">Create Version</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="create-version" tabindex="-1" role="dialog" aria-labelledby="create">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="createVersion">Create Version</h4>
                    </div>
                    <div class="modal-body">

                        <form action="/admin/instances/save/$instance.id" method="post">
                            <h4>Version Information</h4>


                            <div class="row settings">
                                <div class="col-md-3">Version ID</div>
                                <div class="col-md-9">
                                    <input type="text" name="instance-host" class="form-control"
                                           placeholder="Version ID (Example: 1)"/>
                                </div>
                            </div>


                            <div class="row settings">
                                <div class="col-md-3">Version Name</div>
                                <div class="col-md-9">
                                    <input type="text" name="instance-host" class="form-control"
                                           placeholder="Version (Example: 1.8.0-ALPHA1)"/>
                                </div>
                            </div>

                            <div class="row settings">
                                <div class="col-md-3">Version Notes</div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="15"
                                              style="width: 100%;"
                                              placeholder="Any notes about this version, this can include changelog and any required update scripts. HTML is supported."></textarea>
                                </div>
                            </div>

                            <div class="row settings">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <p>
                                        <h4>Notes</h4>
                                        <ul>
                                            <li>Please make sure the version binaries are uploaded on hosts before making it
                                                available here</li>
                                            <li>When providing scripts, please wrap them in <i>&lt;pre&gt;&lt;/pre&gt;</i> tags</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Table -->
        <table class="table">
            <tr>
                <th>Version ID</th>
                <th>Version Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>

            #foreach($version in $versions)
            <tr>
                <td>$version.versionNumber</td>
                <td>$version.version</td>
                <td>$version.type</td>

                <td>
                    <button class="btn btn-default btn-primary" data-toggle="modal"
                            data-target="#edit-modal-$instance.id">Edit
                    </button>
                    <button class="btn btn-default btn-warning">Remove</button>
                </td>
            </tr>

            #end
        </table>

    </div>
</div>
#include('/templates/base/footer.vm')