<!DOCTYPE html>
<html>
<head>
    <title>Comet Manager</title>

    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' type='text/css' />
    <link rel='stylesheet' href='/css/app.css' type='text/css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class='header'>
    <div class='wrapper'>
        <div class='logo'>Comet</div>

        <ul class='navigation'>
            #if($customer)
                <li><a href="/home">Home</a></li>
                <li><a href="/support">Support</a></li>

                #if($customer.hasRole("ADMINISTRATOR"))
                    <li><a href="/admin/">Admin</a></li>
                #end

                <li><a href="/logout">Logout</a></li>
            #end
        </ul>
    </div>
</div>

<div class='wrapper'>