#parse('/templates/base/header.vm')

<script type="text/javascript">
    $(document).ready(function() {

    });

</script>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>My Instances</b></div>
            <ul class="list-group">
                #foreach($instance in $instances)
                <a href="/instance/$instance.id">
                    <li class="list-group-item">
                        $instance.name &nbsp; &nbsp; <span class="label $instance.instanceStatus.statusStyle">$instance.instanceStatus.status</span>
                    </li>
                </a>
                #end
            </ul>
        </div>
    </div>
    <div class="col-md-8">
    </div>
    #include('/templates/base/footer.vm')
