#parse('/templates/base/header.vm')
<div class="row">
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome to Comet Manager</h3>
            </div>
            <div class="panel-body">
                Welcome to the Comet Manager, the place where you can manage your Comet instances. You can perform such
                tasks as: <br/><br/>
                <ul>
                    <li>Add / Edit / Upload modules based on the <b>Comet Server API</b></li>
                    <li>Modify the configuration of your Comet Server instances</li>
                    <li>Start / Stop / Restart Comet Server instances</li>
                    <li>Report bugs related to the Comet Server software</li>
                    <li>Request support with your Comet Server instances</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login to the Manager</h3>
            </div>
            <div class="panel-body">
                #if($loginError == 0)
                    <div class="alert alert-danger">Invalid login credentials</div>

                #elseif($loginError == 1)
                    ERROR: SUSPENDED
                #end

                <form method="post" action="/login">
                    <div class="form-group">
                        <label for="emailAddress">Email address</label>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress"
                               placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

#include('/templates/base/footer.vm')