#parse('/templates/base/header.vm')

<style type="text/css">
    .settings {
        padding-top: 10px;
    }

    .update-instance {
        text-align: right;
    }



</style>

<script type="text/javascript">
    $(document).ready(function () {

    });



</script>

<ol class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li>Instance</li>
    <li class="active">$instance.name</li>
</ol>

<div class="row">

    #parse('/templates/components/instance-sidebar.vm')

    <div class="col-md-8">
        #if($instanceStatus.status == "UP" && $instanceStatus.statusObject.serverStatus)
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="well">
                    <center><b>$instanceStatus.statusObject.serverStatus.status.players</b> players online</center>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="well">
                    <center><b>$instanceStatus.statusObject.serverStatus.status.rooms</b> active rooms</center>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="well">
                    <center><b>$instanceStatus.statusObject.serverStatus.status.uptime</b> uptime</center>
                </div>
            </div>
        </div>
        #else
            <div class="alert alert-warning" role="alert">This instance is not currently running</div>
        #end


        #foreach($v in $versions )
        <div class="panel panel-default">
            <div class="panel-heading"><b>Comet $v.version</b></div>
            <div class="panel-body">
                <p>
                    $v.notes
                </p>

                #if($v.versionNumber > $version.versionNumber)
                <div class="update-instance">
                    <button type="button" class="btn btn-default btn-sm btn-success">Update</button>
                </div>
                #elseif($v.versionNumber == $version.versionNumber)
                <div class="update-instance">
                    <button type="button" class="btn btn-default btn-sm btn-disabled disabled">Current version</button>
                </div>
                #else
                <div class="update-instance">
                    <button type="button" class="btn btn-default btn-sm btn-disabled disabled">Not available</button>
                </div>
                #end
            </div>
        </div>
        #end
    </div>
</div>
#include('/templates/base/footer.vm')