#parse('/templates/base/header.vm')

<style type="text/css">
    .settings {
        padding-top: 10px;
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#showPassword').click(function () {
            var passwordField = $('#password');

            if (passwordField.attr('type') === 'text') {
                // hide the password
                passwordField.attr('type', 'password');
                $(this).html('Show');
            } else {
                passwordField.attr('type', 'text');
                $(this).html('Hide');
            }
        });

        $('#showToken').click(function () {
            var passwordField = $('#token');

            if (passwordField.attr('type') === 'text') {
                // hide the password
                passwordField.attr('type', 'password');
                $(this).html('Show');
            } else {
                passwordField.attr('type', 'text');
                $(this).html('Hide');
            }
        });
    });

</script>


<ol class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li>Instance</li>
    <li><a href="/instance/$instance.id">$instance.name</a></li>
    <li class="active">Configuration</li>
</ol>

<div class="row">
    #parse('/templates/components/instance-sidebar.vm')

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Configuration</b></div>
            <div class="panel-body">
                #if($saved)
                    <div class="alert alert-success" role="alert">Instance com.cometproject.networking.api.config saved successfully!</div>
                #end

                <form action="/instance/save/$instance.id" method="post">
                    <h4>Server Configuration</h4>

                    <div class="row settings">
                        <div class="col-md-6">Host</div>
                        <div class="col-md-6">
                            <input type="text" disabled name="game-host" class="form-control"
                                   value="$instance.com.cometproject.networking.api.config.get("serverHost")"/>
                        </div>
                    </div>
                    <div class="row settings">
                        <div class="col-md-6">Game Port</div>
                        <div class="col-md-6">
                            <input type="text" disabled name="game-port" class="form-control"
                                   value="$instance.com.cometproject.networking.api.config.get("gamePort")"/>
                        </div>
                    </div>
                    <h4>API Configuration</h4>

                    <div class="row settings">
                        <div class="col-md-6">API Port</div>
                        <div class="col-md-6">
                            <input type="text" disabled name="api-port" class="form-control"
                                   value="$instance.com.cometproject.networking.api.config.get("apiPort")"/>
                        </div>
                    </div>


                    <div class="row settings">
                        <div class="col-md-6">API Token</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="password" name="api-token" class="form-control" id="token"
                                       value="$instance.com.cometproject.networking.api.config.get("apiToken")"/>

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" tabindex="-1" id="showToken">
                                        Show
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>MySQL Configuration</h4>

                    <div class="row settings">
                        <div class="col-md-6">MySQL Host</div>
                        <div class="col-md-6"><input type="text" name="db-host" class="form-control"
                                                     value="$instance.com.cometproject.networking.api.config.get("dbHost")"/></div>
                    </div>
                    <div class="row settings">
                        <div class="col-md-6">MySQL Username</div>
                        <div class="col-md-6"><input type="text" name="db-username" class="form-control"
                                                     value="$instance.com.cometproject.networking.api.config.get("dbUsername")"/></div>
                    </div>

                    <div class="row settings">
                        <div class="col-md-6">MySQL Password</div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="password" name="db-password" class="form-control" id="password"
                                       value="$instance.com.cometproject.networking.api.config.get("dbPassword")"/>

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" tabindex="-1" id="showPassword">
                                        Show
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row settings">
                        <div class="col-md-6">MySQL Database</div>
                        <div class="col-md-6"><input type="text" name="db-database" class="form-control"
                                                     value="$instance.com.cometproject.networking.api.config.get("dbName")"/></div>
                    </div>

                    <div class="row settings">
                        <div class="col-md-6">MySQL Pool</div>
                        <div class="col-md-6"><input type="text" disabled name="db-pool" class="form-control"
                                                     value="$instance.com.cometproject.networking.api.config.get("dbPoolMax")"/></div>
                    </div>

                    <div class="row settings">
                        <div class="col-md-6"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"><input type="submit" class="form-control btn btn-primary"
                                                     value="Save Config"></input></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
#include('/templates/base/footer.vm')